:root {
    --color-white: #ffff;
    --color-gray: #2F3136;
    --color-section: #2F3136;
    --color-background: #202225;
    --color-backgroundBody: #36393F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 71.2%;
}

body {
    font-size: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
}

.body {
    display: flex;
    gap: 5.8rem;
}

.menu img {
    width: 30px;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin: 0 auto;
}

.config {
    width: 40px;
    height: auto;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 8vh;
    background: var(--color-background);
    position: fixed;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    background-color: var(--color-gray);
    color: var(--color-white);
    padding: 0.3rem;
}

.users {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 8rem;
    line-height: 1.5rem;
    text-align: center;
}

.users h4,
p {
    overflow: hidden;
    font-size: 1.8rem;
}

.users a {
    font-size: 1.7rem;
}

.users img {
    width: 55px;
    height: auto;
}

.header {
    padding-left: 1.2rem;
    position: fixed;
}

.container {
    background-color: var(--color-backgroundBody);
    width: 100vw;
    height: 100vh;
    color: var(--color-white);
    gap: 3rem;
    padding: 6rem 2rem 6rem 2rem;
}
