:root {
    --color-white: #ffff;
    --color-gray: #2F3136;
    --color-section: #2F3136;
    --color-background: #202225;
    --color-backgroundBody: #36393F;
    --color-icons:rgb(107, 72, 198);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 71.2%;
}

body {
    font-size: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', serif;
}

a {
    color: var(--color-white);
}

img {
    width: 100%;
    display: block;
}

.body {
    display: flex;
    gap: 5.8rem;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 6rem;
    background: var(--color-background);
    position: fixed;
}

.menu{
 
    margin-top: 2vh;
}

.menu i {
    width: 30px;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin: 0 auto;

}

.menu i:hover{
    color: var(--color-icons);
}

.config {
    width: 40px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: var(--color-gray);
    color: var(--color-white);
    padding: 0.3rem;
}

.users {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 8rem;
    line-height: 1.5rem;
    text-align: center;
}

.users h4,
p {
    overflow: hidden;
    font-size: 1.8rem;
}

.users a {
    font-size: 1.7rem;
    text-decoration: none;
}

.users img {
    width: 55px;
    height: auto;
}

.header {
    padding-left: 1.2rem;
    position: fixed;
}

.container {
    background-color: var(--color-backgroundBody);
    width: 100vw;
    height: 100vh;
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 6rem 2rem 6rem 2rem;
}

.section {
    overflow: hidden;
    width: 20rem;
    background-color: var(--color-section);
    height: min-content;
    margin: 2% 0 0 2%;
    border-radius: 30px;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10%;
}

.section:hover{
    transform: translateY(-.5rem);
    transition: .3s;
}

.section img {
    border-radius: 9px;
}

.on {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem auto;
    width: 50%;
    text-align: center;
}

.circle {
    background-color: #71FF7F;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}


#ajust {
    padding-top: 4.1%;
}

button {
    
    background-color: #3C3E4499;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 70%;
    border-radius: 10%;
}

button i {
    font-size: 5rem;
    color: #fff;
}

#btn-add{
    width: 15rem;
}

#btn-add h4 {
    padding-top: 5%;
}

